/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:#eaeded;
}

/* ================= NAVBAR ================= */
.navbar{
    height:60px;
    background-color:#131921;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

/* LOGO */
.nav-logo{
    height:50px;
    width:114px;
}

.logo{
    background-image:url("Amazon_logo.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    height:50px;
    width:100%;
}

/* BORDER */
.border{
    border:1px solid transparent;
    padding:8px;
    cursor:pointer;
}

.border:hover{
    border:1px solid white;
    border-radius:2px;
}

/* ADDRESS */
.nav-address{
    padding:8px;
}

.add-first{
    color:#ccc;
    font-size:0.75rem;
    margin-left:15px;
}

.add-second{
    font-size:0.9rem;
    font-weight:700;
    margin-left:4px;
}

.add-icon{
    display:flex;
    align-items:center;
}

/* SEARCH */
.nav-search{
    display:flex;
    width:620px;
    height:40px;
    background:white;
    border-radius:4px;
    overflow:hidden;
}

.search-select{
    width:55px;
    border:none;
    background:#f3f3f3;
    text-align:center;
}

.search-input{
    flex:1;
    border:none;
    padding:0 10px;
    outline:none;
}

.search-icon{
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#febd68;
    cursor:pointer;
}

/* SIGN IN */
.nav-second{
    font-weight:700;
}

/* CART */
.nav-cart{
    display:flex;
    gap:5px;
    align-items:center;
}

.nav-cart i{
    font-size:25px;
}

/* ================= PANEL ================= */
.panel{
    height:40px;
    background:#232f3e;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
}

.panel-ops{
    display:flex;
    gap:20px;
}

.panel-ops p{
    cursor:pointer;
}

.panel-ops p:hover{
    text-decoration:underline;
}

/* ================= HERO ================= */
.hero-section{
    background-image:url("hero_image.jpg");
    height:350px;
    background-size:cover;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}

.hero-msg{
    background:white;
    width:80%;
    padding:10px;
    margin-bottom:20px;
    text-align:center;
}

.hero-msg a{
    color:#007185;
}

/* ================= SHOP ================= */
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding:20px;
}

.box{
    width:23%;
    background:white;
    padding:15px;
}

.box-image{
    height:300px;
    background-size:cover;
    background-position:center;
    margin:10px 0;
}

.box p{
    color:#007185;
    cursor:pointer;
}

/** Footer **/
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
} 

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 25px;
}

ul a {
    display: block;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image:url("Amazon_logo.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    height:50px;
    width:100%;
}

.foot-panel4{
    background-color: #0f1111;
    color:white;
    height: 100px;
    
} 
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding: 25px;

}

.copyright{
    font-size: 0.7rem;
    text-align: center;
}